In [5]:
import pandas as pd
from pycoingecko import CoinGeckoAPI
cg = CoinGeckoAPI()

In [6]:
cg.get_events()

{'data': [], 'count': 0, 'page': 1}

In [12]:
data_countries=cg.get_events_countries()

In [11]:
df_countries = pd.DataFrame(data_countries['data'], columns=['country','code'])
df_countries.tail()

          country code
61         Uganda   UG
62  United States   US
63        Vietnam   VN
64   South Africa   ZA
65       Zimbabwe   ZW

In [13]:
cg.get_events_types()

{'data': ['Event', 'Conference', 'Meetup'], 'count': 3}